<div class="wrapperp">
<h3 class="titlep"> I Miei Dati </h3>
<ul class="table-view">
  <li class="table-view-cell media">
    <a>
      <span class="media-object pull-left icon icon-person" style="color: #a8a8a8"></span>
      <div class="media-body">
        {{nome}}
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a>
      <span class="media-object pull-left icon icon-home" style="color: #a8a8a8"></span>
      <div class="media-body">
        {{cognome}}
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a>
      <span class="media-object pull-left icon icon-info" style="color: #a8a8a8"></span>
      <div class="media-body">
        {{email}}
      </div>
    </a>
  </li>
</ul>

</div>