<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<div class="wrapper infoprodotto">

  <div class="swiper-container" id="slide-product">
        <div class="swiper-wrapper">
           
                 {{#each immagini}} 
                <div class="swiper-slide slideshow">
                <img class="slide" src="http://192.168.56.101/loveitaly/api/images/products/{{../id_prodotto}}/{{id}}?ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H">
                </div>
                {{/each}}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
  </div>

        
        
        <p class="titleprodotto">{{nome_prodotto}}</p>

        <div class="quantita">
              <div class="gestione">
                <div class="num_prodotti popupQuantitaP">
                  <span class="glyphicon glyphicon-triangle-left" style="display: inline; color: #8f8f8f; float: left; padding-top: 5px;"></span>
                  <span id="numeretto_quantità">1</span>
                  <span class="glyphicon glyphicon-triangle-right" style="display: inline; color: #8f8f8f; float: right; padding-top: 5px;"></span>
                </div>
              </div>

            </div>
            
          
          <select id="tipo" >
            <option value="hide">Peso/tipologia</option>
            <option value="1">1,7 kg circa</option>
            
          </select>
          
          <p id="prezzo">{{prezzo}} €</p>
          
          <p data-id="{{ id_azienda }}" class="ref_azienda"> {{nome_azienda}} </p>          
         
          
          <p class="brevedes"> {{shortD}}</p>
          
          <div class="dettagli">
            <span>&#9776&nbsp&nbspPiù informazioni </span>              
          </div>
          
          <div id="descrizione">   
    
              <p>{{descr}}</p>
              
          </div>         
          
         
        </div>

</div>
    