
            
            <div id="map"></div>
            
            <div class="segmented-control" id="tabs">
                <a class="control-item active" id="c_item1" href="#item1mobile">
                    Chi siamo
                </a>
                <a class="control-item" id="c_item2" href="#item2mobile">
                    Mappa
                </a>
                <a class="control-item" id="c_item3" href="#item3mobile">
                    Prodotti
                </a>
            </div>
            
            <div class="card" id="card">
                <span id="item1mobile" class="control-content active">
                    
                    
                    <div class="descr">
                    <h3>{{ azienda.nome }}</h3>
                    <div id="foto_azienda">
                      <div id="thumbnail_azienda"></div>
                    </div>
                    <p id="descr_azienda"></p>
                    <h4>Contatti</h4>
                    <p>{{ azienda.indirizzo }}  </br> 
                      {{ azienda.citta }} </br>
                      {{ azienda.tel }} </br>
                      {{ azienda.cel }}
                    </p>
                    
                    </div>
                
                </span>
                
                
                
                <span id="item3mobile" class="control-content">
                <div id="lista_prodotti_az">
                  {{#each prodotti}}
                  <div data-id="{{ id_prodotto }}" class="prodotto">

                    <div class="thumbnail_prodotto">
                      <img src="{{ img }}"/>
                    </div>
                    <div class="right_prodotto">
                      <div class="header_info_prodotto">
                        <span class="titolo">{{ nome_prodotto_short }}</span><br/>
                        <span class="azienda">{{ nome_azienda_short }}</span><br/>
                      </div>
                      <div class="info_prodotto">
                        <span class="descrizione">{{ shortD }}</span>
                      </div>
                      <div class="prezzo">€ {{ prezzo }}</div>
                    </div>

                  </div>  
                  {{/each}}
                  </div>
                </span>
            </div>
       
