<div class="wrapperp">
	<h3 class="titlep"> I Miei Desideri </h3>

  <p class="nessun_desiderio">Per aggiungere un prodotto alla tua lista dei desideri, seleziona un prodotto dalla Home e premi sul cuore posto in basso a destra.</p>

  <ul class="table-view">
    {{#each Desideri}}
      <div data-id="{{ id_prodotto }}" class="lista_desiderio">

            <div class="car_thumbnail_prodotto">
              <img src="{{ img }}"/>
              <div class="car_prezzo"><center><span>€</span> {{ prezzo }}</center></div>
            </div>
            <div class="car_right_prodotto">
              <div class="car_info_prodotto">
                <span class="car_titolo"> {{ nome_prodotto}}</span><br/>
                <span class="car_descrizione">{{ shortD}} </span>
              </div>
              <div class="car_quantita">
                
              <div class="des_elimina"><button class="btn btn-negative eliminaDesiderio"><span >Elimina</span></button></div>
              </div>
            </div>

        </div>    
    {{/each}}
  
  </ul>


</div>