<div class="wrapperp">
<div id="lista_prodotti_checkout">
	<h3 class="titlep"> Ordine del {{Ordine.inserimento}} </h3>

{{#each Prodotti}}
            <div class="prodotto_checkout">
              <div class="quantita_prodotto">
                {{ ../Ordine.cart_rows.0.quantity }}
              </div>
              <div class="left_prodotto">
                <div class="titolo_prodotto">
                  {{ nome_prodotto }}
                </div>
                <div class="descrizione_prodotto">
                  {{shortD }}
                </div>
              </div>
              <div class="prezzo_prodotto">
               € <span>{{ prezzo }}</span>
              </div>  
            </div>        
{{/each}}
             
          </div>
          <div id="prezzo_totale">
            € <span></span>
          </div>
</div>