<div class="wrapperp">


  <ul class="table-view">
    <li class="table-view-divider">{{alias}}</li>
  <li class="table-view-cell">
    {{firstname}} {{lastname}} <br>
    {{address1}} <br>
    {{city}}({{provincia}})  <br>
    {{postcode}} <br>
    {{phone}}
   
  </li>
</ul>

<input id="aid" type="hidden" value="{{id_indirizzo}}"/>
<button class="btn btn-positive btn-block editaddressbtn">Modifica</button>
<button id="delete" class="btn btn-negative btn-block removeaddressbtn">Elimina</button>


  
    </div>