<div class="wrapperp">
<div class="col-6 topsx">
      
     <div id="userdetails" class="iconbtn">
      <img src="img/profile.png"/>
      <span>Profilo</span>
    </div>

    </div>
    <div id="addr" class="col-6 topdx">
       <div class="iconbtn">
      <img src="img/address.png"/>
      <span>I miei indirizzi</span>
    </div>
    </div>
    <div class="col-6 botsx">
       <div id="ordini" class="iconbtn">
      <img src="img/shipment.png"/>
      <span>I miei ordini</span>
    </div>
    </div>
    <div class="col-6">
       <div id="wishlist" class="iconbtn">
      <img src="img/wishlist.png"/>
      <span>Lista desideri</span>
    </div>
    </div>
</div>